<html>
<head>
<style type="text/css">html,
    body {
        margin: 0;
        padding: 0;
    }
</style>
<meta charset="utf-8">
</head>
<center>
<table>
	<tbody>
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" width="600px" height="600px">
				<tbody>
					<tr>
						<td>
						<table style="background:url(/static/images/53b625d22b888.jpg) no-repeat top center;width:100%;font-size:1px;">
							<tbody>
								<tr>
									<td align="center">
									<table border="0" cellpadding="0" cellspacing="0" style="background:url(/static/images/e8b87c314d4c4b9d9dbbe63c6c2b0632.jpg) no-repeat center center;margin-top:50px;margin-bottom:50px;width:350px;height:350px;box-shadow: 3px 3px 3px #eee">
										<tbody>
											<tr>
												<td align="center" colspan="2" valign="top">
												<div style="margin-top:115px;color:#e78504;line-height:1.5;">
												{%if Error%}
												{%for i in Error%}
												{{i}}
												{%endfor%}
												{%endif%}
												</div>

												<div style="margin-top:60px"><a href="/userinfo" style="text-decoration:none;display:inline-block;color:#fff;width:144px;height:38px;line-height:38px;background:url(/static/images/button.jpg) no-repeat center;">查看购物记录</a></div>
												</td>
											</tr>
											
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</center>
