<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/list.css" />
    <script type="text/javascript" src="/static/css/list.js"></script>
	
    <!--[if IE 6]>
    <script> try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {} </script>
    <![endif]-->
  </head>
  <body id="w-body-aaaa" data-type="body" class="p-173319 n-widget w-body">
    <div id="w-area-aaab" data-type="area" class="p-173319 n-widget w-area">
      <div id="w-columnbox-aaac" data-type="columnbox" class="n-widget w-columnbox">
          <div class="w-col" style="width:86.173913043475%;">
          <div id="w-area-aaad" data-type="area" class="p-173319 n-widget w-area">
            <div id="w-image-aaae" data-type="image" class="n-widget w-image">
              <img src="/static/images/44e405eb3a206d538abd62ee190384ff_fullsize.jpg" />
            </div>
          </div>
          </div>
          <div class="w-col" style="width:13.826086956522%;">
          <div id="w-area-aaaf" data-type="area" class="p-173319 n-widget w-area">
            <div id="w-columnbox-aaag" data-type="columnbox" class="n-widget w-columnbox">
                <div class="w-col" style="width:25%;">
                <div id="w-area-aaah" data-type="area" class="p-173319 n-widget w-area">
                  <div id="w-text-aaai" data-type="text" class="n-widget w-text">
					{%if Logged == True%}
					<font>{{Username}}</font>&nbsp;
					{%else%}
                    <a href="/login/" title="去登录">登录</a>&nbsp;
					{%endif%}
                  </div>
                </div>
                </div>
                <div class="w-col" style="width:25%;">
                <div id="w-area-aaaj" data-type="area" class="p-173319 n-widget w-area">
                  <div id="w-text-aaak" data-type="text" class="n-widget w-text">
					{%if Logged == True%}
					<a href="/logout" title="退出登录">登出</a>
					{%else%}
                    <a href="/newaccount" title="去注册">注册</a>
					{%endif%}
                  </div>
                </div>
                </div>
                <div class="w-col" style="width:25%;">
                <div id="w-area-aaal" data-type="area" class="p-173319 n-widget w-area">
                  <div id="w-image-aaam" data-type="image" class="n-widget w-image">
                    <img src="/static/images/0a6bf0bac9bc20cab15e4e4ff105853d.png" />
                  </div>
                </div>
                </div>
                <div class="w-col" style="width:25%;">
                <div id="w-area-aaan" data-type="area" class="p-173319 n-widget w-area">
                  <div id="w-text-aaao" data-type="text" class="n-widget w-text">
                    <a href="/shoppingcar" title="%5Bobject%20Object%5D">购物车</a>
                  </div>
                </div>
                </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div id="w-area-aaap" data-type="area" class="p-173319 n-widget w-area">
      <div id="w-area-aaaq" data-type="area" class="p-173319 n-widget w-area">
        <div id="w-menu-aaar" data-type="menu" class="n-widget w-menu t-menu-default">
        <div class="w-menu-container" data-menu-type="h-down">
		<ul class="w-menu-list"><li class="w-menu-item w-menu-item-first"><a href="/">首页</a></li>
		<li class="w-menu-divider"><span class="w-menu-divider-item"></span></li><li class="w-menu-item"><a href="/userinfo">个人信息</a></li>
		<li class="w-menu-divider"><span class="w-menu-divider-item"></span></li><li class="w-menu-item w-menu-item-last"><a href="/shoppingcar">购物车</a></li>
		</ul>
		</div>
        </div>
      </div>
    </div>
    <div id="w-area-aaas" data-type="area" class="p-173319 n-widget w-area">
      <div id="w-columnbox-aaat" data-type="columnbox" class="n-widget w-columnbox">
          <div class="w-col">
          <div id="w-area-aaau" data-type="area" class="p-173319 n-widget w-area">
            <div id="w-image-aaav" data-type="image" class="n-widget w-image">
              <a><img src="/static/images/58205311Na1c0b637.jpg" /></a>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div id="w-area-aabc" data-type="area" class="p-173319 n-widget w-area">
      <div id="w-columnbox-aabd" data-type="columnbox" class="n-widget w-columnbox">
          <div class="w-col" style="width:23.043478260869%;">
          <div id="w-area-aabe" data-type="area" class="p-173319 n-widget w-area">
            <div id="w-area-aabf" data-type="area" class="p-173319 n-widget w-area">
              <div id="w-menu-aabg" data-type="menu" class="n-widget w-menu t-menu-08 t-menu-08-black">
              <div class="w-menu-container" data-menu-type="v-follow">
				       <ul class="w-menu-list"><li class="w-menu-item w-menu-item-first active"><a href="/">全部</a></li>
				        	<li class="w-menu-divider"><span class="w-menu-divider-item"></span></li>
					        <li class="w-menu-item"><a href="">中脉远红护颈</a></li>
		        		</ul>
		      	  </div>
              </div>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:76.956521739131%;">
          <div id="w-area-aabh" data-type="area" class="p-173319 n-widget w-area">
            <div id="w-area-aabi" data-type="area" class="p-173319 n-widget w-area">
              <div id="w-columnbox-aabj" data-type="columnbox" class="n-widget w-columnbox">
                  <div class="w-col" style="width:50%;">
                  <div id="w-area-aabk" data-type="area" class="p-173319 n-widget w-area">
                    <div id="w-text-aabl" data-type="text" class="n-widget w-text">
                      最新 &nbsp;| &nbsp;销量
                    </div>
                  </div>
                  </div>
                  <div class="w-col" style="width:50%;">
                  <div id="w-area-aabm" data-type="area" class="p-173319 n-widget w-area">
                    <div id="w-text-aabn" data-type="text" class="n-widget w-text">
                      1/1页
                    </div>
                  </div>
                  </div>
              </div>
            </div>
			
			{%for i in Sale%}
				<div class="w-col" style="width:33.33%;">
                <div id="w-area-aabp" data-type="area" class="p-173319 n-widget w-area">
                  <div id="w-image-aabq" data-type="image" class="n-widget w-image">
                    <a href="/salesinfo/{{i.Salenum}}" target="_blank"><img src="/static/images/{{i.Salenum}}.png" /></a>
                  </div>
                  <div id="w-columnbox-aabr" data-type="columnbox" class="n-widget w-columnbox">
                      <div class="w-col" style="width:77.714285714286%;">
                      <div id="w-area-aabs" data-type="area" class="p-173319 n-widget w-area">
                        <div id="w-text-aabt" data-type="text" class="n-widget w-text">
                          <a href="/salesinfo/{{i.Salenum}}" target="_blank" title="%5Bobject%20Object%5D">{{i.Salename}}</a>
                        </div>
                      </div>
                      </div>
                      <div class="w-col" style="width:22.285714285714%;">
                      <div id="w-area-aabu" data-type="area" class="p-173319 n-widget w-area">
                        <div id="w-text-aabv" data-type="text" class="n-widget w-text">
                          ￥{{i.Price}}
                        </div>
                      </div>
                      </div>
                  </div>
                </div>
				</div>
			{%endfor%}
      </div>
	  </div>
	</div>
	</div>

    <div id="w-area-aaei" data-type="area" class="p-173319 n-widget w-area">
      <div id="w-area-aaej" data-type="area" class="p-173319 n-widget w-area">
        <div id="w-area-aaek" data-type="area" class="p-173319 n-widget w-area">
          <div id="w-columnbox-aael" data-type="columnbox" class="n-widget w-columnbox">
              <div class="w-col" style="width:21.652173913043%;">
              <div id="w-area-aaem" data-type="area" class="p-173319 n-widget w-area">
                <div id="w-columnbox-aaen" data-type="columnbox" class="n-widget w-columnbox">
                    <div class="w-col" style="width:20%;">
                    <div id="w-area-aaeo" data-type="area" class="p-173319 n-widget w-area">
                      <div id="w-image-aaep" data-type="image" class="n-widget w-image">
                        <img src="/static/images/a5799f36eddaa798ee91890aadd24cf1.png" />
                      </div>
                    </div>
                    </div>
                    <div class="w-col" style="width:80%;">
                    <div id="w-area-aaeq" data-type="area" class="p-173319 n-widget w-area">
                      <div id="w-text-aaer" data-type="text" class="n-widget w-text">
                        100%品牌授权正品
                      </div>
                    </div>
                    </div>
                </div>
              </div>
              </div>
              <div class="w-col" style="width:23.130434782608%;">
              <div id="w-area-aaes" data-type="area" class="p-173319 n-widget w-area">
                <div id="w-columnbox-aaet" data-type="columnbox" class="n-widget w-columnbox">
                    <div class="w-col" style="width:21.702127659574%;">
                    <div id="w-area-aaeu" data-type="area" class="p-173319 n-widget w-area">
                      <div id="w-image-aaev" data-type="image" class="n-widget w-image">
                        <img src="/static/images/deff2a8fbb4ae2eaecc2211f79482b24.png" />
                      </div>
                    </div>
                    </div>
                    <div class="w-col" style="width:78.297872340426%;">
                    <div id="w-area-aaew" data-type="area" class="p-173319 n-widget w-area">
                      <div id="w-text-aaex" data-type="text" class="n-widget w-text">
                        7天无理由退换货
                      </div>
                    </div>
                    </div>
                </div>
              </div>
              </div>
              <div class="w-col" style="width:55.217391304348%;">
              <div id="w-area-aaey" data-type="area" class="p-173319 n-widget w-area">
                <div id="w-columnbox-aaez" data-type="columnbox" class="n-widget w-columnbox">
                    <div class="w-col" style="width:7.6190476190476%;">
                    <div id="w-area-aafa" data-type="area" class="p-173319 n-widget w-area">
                      <div id="w-image-aafb" data-type="image" class="n-widget w-image">
                        <img src="/static/images/6c425de9ca6adc3ed374d5cdf318bcf2.png" />
                      </div>
                    </div>
                    </div>
                    <div class="w-col" style="width:92.38095238095%;">
                    <div id="w-area-aafc" data-type="area" class="p-173319 n-widget w-area">
                      <div id="w-text-aafd" data-type="text" class="n-widget w-text">
                        客服电话：400-889-9646  09:00-22:30(周一至周日)
                      </div>
                    </div>
                    </div>
                </div>
              </div>
              </div>
          </div>
        </div>
        <div id="w-area-aafe" data-type="area" class="p-173319 n-widget w-area">
          <div id="w-columnbox-aaff" data-type="columnbox" class="n-widget w-columnbox">
              <div class="w-col" style="width:16.666666666667%;">
              <div id="w-area-aafg" data-type="area" class="p-173319 n-widget w-area">
                <div id="w-text-aafh" data-type="text" class="n-widget w-text">
                  <font size="4" color="#cecece">新手指南</font><font size="4" color="#ffffff">&nbsp;</font><div><div><a href="/" title="%5Bobject%20Object%5D">新用户注册&nbsp;</a></div><div><a href="/" title="%5Bobject%20Object%5D">会员登录&nbsp;</a></div><div><a href="/" title="%5Bobject%20Object%5D">订购流程</a>&nbsp;</div><div><a href="/" title="%5Bobject%20Object%5D">交易须知</a></div></div>
                </div>
              </div>
              </div>
              <div class="w-col" style="width:16.666666666667%;">
              <div id="w-area-aafi" data-type="area" class="p-173319 n-widget w-area">
                <div id="w-text-aafj" data-type="text" class="n-widget w-text">
                  <font size="4" color="#cecece">付款方式</font><font size="4" color="#ffffff">&nbsp;</font><div><div><a href="/" title="%5Bobject%20Object%5D">支付方式</a></div><div><a href="/" title="%5Bobject%20Object%5D">常见支付问题</a></div><div><a href="/" title="%5Bobject%20Object%5D">如何办理退款</a>&nbsp;</div><div><a href="/" title="%5Bobject%20Object%5D">发票制度说明</a></div></div>
                </div>
              </div>
              </div>
              <div class="w-col" style="width:16.666666666667%;">
              <div id="w-area-aafk" data-type="area" class="p-173319 n-widget w-area">
                <div id="w-text-aafl" data-type="text" class="n-widget w-text">
                  <font size="4" color="#cecece">配送方式</font><font size="4" color="#ffffff">&nbsp;</font><div><div><a href="/" title="%5Bobject%20Object%5D">配送时间及范围&nbsp;</a></div><div><a href="/" title="%5Bobject%20Object%5D">订单的拆分&nbsp;</a></div><div><a href="/" title="%5Bobject%20Object%5D">
商品验收与签收</a>&nbsp;</div></div>
                </div>
              </div>
              </div>
              <div class="w-col" style="width:16.666666666667%;">
              <div id="w-area-aafm" data-type="area" class="p-173319 n-widget w-area">
                <div id="w-text-aafn" data-type="text" class="n-widget w-text">
                  <font size="4" color="#cecece">售后服务</font><font size="4" color="#ffffff">&nbsp;</font><div><div><a href="/"  title="%5Bobject%20Object%5D">如何办理退换货&nbsp;</a></div><div><a href="/" title="%5Bobject%20Object%5D">退换货政策&nbsp;</a></div></div>
                </div>
              </div>
              </div>
              <div class="w-col" style="width:16.666666666667%;">
              <div id="w-area-aafo" data-type="area" class="p-173319 n-widget w-area">
                <div id="w-text-aafp" data-type="text" class="n-widget w-text">
                  <font size="4" color="#cecece">帮助中心</font><font size="4" color="#ffffff">&nbsp;</font><div><div><a href="/"  title="%5Bobject%20Object%5D">找回密码&nbsp;</a></div><div><a href="/" title="%5Bobject%20Object%5D">常见问题&nbsp;</a></div><div><a href="/" title="%5Bobject%20Object%5D">
谨防诈骗</a>&nbsp;</div></div>
                </div>
              </div>
              </div>
              <div class="w-col" style="width:16.666666666667%;">
              <div id="w-area-aafq" data-type="area" class="p-173319 n-widget w-area">
                <div id="w-text-aafr" data-type="text" class="n-widget w-text">
                  <font size="4" color="#cecece">优惠政策</font><font size="4" color="#ffffff">&nbsp;</font><div><div><a href="/" title="%5Bobject%20Object%5D">
VIP会员制度&nbsp;</a></div><div><a href="/" title="%5Bobject%20Object%5D">
优惠券&nbsp;</a></div></div>
                </div>
              </div>
              </div>
          </div>
        </div>
        <div id="w-area-aafs" data-type="area" class="p-173319 n-widget w-area">
          <div id="w-text-aaft" data-type="text" class="n-widget w-text">
            CopyRight © 2014-2014 shopNewPower Co. 版权所有 &nbsp; &nbsp; 图片均来自网络
          </div>
        </div>
      </div>
    </div>
  <!--custom footer start-->
<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fce299e0fd4094e4d5efce40bab839811' type='text/javascript'%3E%3C/script%3E"));</script>
<!--custom footer end-->
  </body>
</html>